$mint-green: #CCEABB;

.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fffafa;
  text-shadow: 1px 1px #333;
  & h1 {
    font-size: 60px;
    font-weight: bold;
  }
  & p {
    font-size: 36px;
  }
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.about-right {
  margin-left: 50px;
  & h2 {
    font-weight: 800;
    margin-bottom: 40px;
    font-size: 40px;
  }
  & h4 {
    font-size: 24px;
  }
  & p {
    font-size: 16px;
    color: #333;
  }
}

.about-left {
  position: relative;
}

.circle {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  background-color: $mint-green;
  top: 3%;
}

.services-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 40px;
  & .service {
    display: flex;
    width: 260px;
  }
  & img {
    height: 40px;
    width: 40px;
  }
}

.icon-wrapper .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: $mint-green;
  box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
  margin-right: 15px;
}

.service h4 {
  font-size: 20px;
  font-weight: 700;
}

.statistics-wrapper {
  padding: 4rem 0;
  background-color: $mint-green;
  margin-bottom: 150px;
}

.statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  & .stat {
    text-align: center;
  }
}

.stat {
  & .stat-number {
    line-height: 1;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
  }
  & .stat-text {
    font-size: 26px;
  }
}

.parallax-reviews {
  height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// animations
.animate {
  opacity: 0;
  visibility: hidden;
}

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

// keyframes

@keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.review-section .item {
  height: 300px;
  padding: 30px 0;
}

.review-wrapper {
  height: 300px;
  background-color: white;
  padding: 40px 20px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.15rem;
  color: #444;
}

.review-wrapper .quote-icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #CCEABB;
  box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 10px;
  left: 30px;
  border: 1px solid #8080804a;
}

#quote-icon-1, #quote-icon-2, #quote-icon-3, #quote-icon-4, #quote-icon-5 {
  width: 30px;
  height: 30px;
}

.review-title {
  display: flex;
  justify-content: center;
  & h2 {
    font-size: 40px;
    font-weight: 800;
    padding: 3rem;
  }
}

.review-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#av1, #av2, #av3, #av4, #av5  {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70px;
  height: 70px;
  position: relative;
  border-radius: 50%;
  margin-right: 15px;
}

.review-name {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 0;
  color: #111;
}


.gallery {
  text-decoration: none;
  & h2 {
    font-size: 40px;
    font-weight: 800;
    padding: 3rem;
    text-align: center;
  }
}

.pet-card.gallery {
  padding: 0;
}

.pet-card.gallery:hover {
  padding: 0;
  .pet-info.gallery {
    opacity: 1;
  }
}

.pet-info.gallery {
  opacity: 0;
  background-color: rgba($color: #000000, $alpha: .3);
  width: 100%;
  text-align: center;
  transition: ease-in-out .5s;
}



// owl-reviewstyles
  .owl-stage {
    margin-bottom: 20px;
  }

  .owl-review.owl-drag .owl-item {
    touch-action: pan-y; }

  .owl-review {
    position: relative; }
    .owl-review .owl-item {
      opacity: .4; }
      .owl-review .owl-item.active {
        opacity: 1; }
    .owl-review .owl-nav {
      position: absolute;
      top: 50%;
      width: 100%; }
      .owl-review .owl-nav .owl-prev,
      .owl-review .owl-nav .owl-next {
        position: absolute;
        transform: translateY(-50%);
        margin-top: -10px;
        color: #00bd56 !important;
        transition: all 0.7s ease;
        opacity: 0; }
        .owl-review .owl-nav .owl-prev span:before,
        .owl-review .owl-nav .owl-next span:before {
          font-size: 30px; }
      .owl-review .owl-nav .owl-prev {
        left: 0; }
      .owl-review .owl-nav .owl-next {
        right: 0; }
    .owl-review .owl-dots {
      text-align: center; }
      .owl-review .owl-dots .owl-dot {
        width: 10px;
        height: 10px;
        margin: 5px;
        border-radius: 50%;
        background: #e6e6e6;
        position: relative; }
        .owl-review .owl-dots .owl-dot:after {
          position: absolute;
          top: -2px;
          left: -2px;
          right: 0;
          bottom: 0;
          width: 14px;
          height: 14px;
          content: '';
          border: 1px solid #e6e6e6;
          border-radius: 50%; }
        .owl-review .owl-dots .owl-dot.active {
          background: #b3b3b3; }
    .owl-review:hover .owl-nav .owl-prev,
    .owl-review:hover .owl-nav .owl-next {
      opacity: 1; }
    .owl-review:hover .owl-nav .owl-prev {
      left: -25px; }
    .owl-review:hover .owl-nav .owl-next {
      right: -25px; }

  .owl-custom-nav {
    float: right;
    position: relative;
    z-index: 10;
    border: 1px solid red; }
    .owl-custom-nav .owl-custom-prev,
    .owl-custom-nav .owl-custom-next {
      padding: 10px;
      font-size: 30px;
      background: #ccc;
      line-height: 0;
      width: 60px;
      text-align: center;
      display: inline-block; }