$mint-green: #CCEABB;
$button-font-black: #0E0000;

.parallax {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  & img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
  }
}

.banner-content-wrapper {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #fffafa;
  padding-bottom: 60px;
  padding-right: 50%;
  & .banner-text {
    padding-left: 160px;
  }
  & h1 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 1px grey;
    width: 500px;
  }
  & a {
    font-weight: bold;
    background: #CCEABB;
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 26px;
    color: #0E0000;
    text-decoration: none;
  }
  & a:hover {
    background: #adeb89;
  }
}

.cta-wrapper {
  padding: 40px 0 0 160px;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.about-right {
  margin-left: 50px;
  & h2 {
    font-weight: 800;
    margin-bottom: 40px;
    font-size: 40px;
  }
  & h4 {
    font-size: 24px;
  }
  & p {
    font-size: 16px;
    color: #333;
  }
}

.about-left {
  position: relative;
}

.circle {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  background-color: $mint-green;
  top: 3%;
  border: 1px solid #8080804a
}

.services-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 40px;
  & .service {
    display: flex;
    width: 260px;
  }
  & img {
    height: 40px;
    width: 40px;
  }
}

.icon-wrapper .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: $mint-green;
  box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
  margin-right: 15px;
  border: 1px solid #8080804a
}

.service h4 {
  font-size: 20px;
  font-weight: 700;
}

.statistics-wrapper {
  padding: 4rem 0;
  background-color: $mint-green;
}

.statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  & .stat {
    text-align: center;
  }
}

.stat {
  & .stat-number {
    line-height: 1;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
  }
  & .stat-text {
    font-size: 26px;
  }
}

//registration form
.register-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.register-right {
  margin-left: 200px;
  position: relative;
  & img {
    width: auto;
    height: 450px;
  }
}

.register-right .circle {
  top: -5%;
  left: -16%;
}

.registration-form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-form {
  background-color: #fffafa;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
  & h2 {
    font-weight: 800;
    margin-bottom: 40px;
    font-size: 40px;
  }
}

.registration-form .simple_form label {
  width: 250px;
}

.registration-form .form-control {
  width: 53%;
}

.registration-form .simple_form input {
  height: 30px;
}

.registration-form .form-actions {
  display: flex;
  justify-content: end;
  align-items: center;
}

.registration-form .simple_form input[type="submit"] {
  margin: 20px 0;
  padding: 20px 15px;
  width: 120px;
  background-color: $mint-green;
  color: $button-font-black;
  font-weight: bold;
}

//reviews

.parallax-reviews {
  height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// animations
.animate {
  opacity: 0;
  visibility: hidden;
}

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

// keyframes

@keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.review-section .item {
  height: 100%;
  padding: 30px 0;
}

.review-wrapper {
  height: 300px;
  background-color: #fffafa;
  padding: 40px 20px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.15rem;
  color: #444;
}

.review-wrapper .quote-icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #CCEABB;
  box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 10px;
  left: 30px;
  border: 1px solid #8080804a;
}

#quote-icon-1, #quote-icon-2, #quote-icon-3, #quote-icon-4, #quote-icon-5 {
  width: 30px;
  height: 30px;
}

.review-title {
  display: flex;
  justify-content: center;
  & h2 {
    font-size: 40px;
    font-weight: 800;
    padding: 3rem;
    margin-bottom: 0;
  }
}

.review-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#av1, #av2, #av3, #av4, #av5  {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70px;
  height: 70px;
  position: relative;
  border-radius: 50%;
  margin-right: 15px;
}

.review-name {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 0;
  color: #111;
}


.gallery {
  text-decoration: none;
  & h2 {
    font-size: 40px;
    font-weight: 800;
    padding: 3rem;
    text-align: center;
  }
}

.pet-card.gallery {
  padding: 0;
}

.pet-card.gallery:hover {
  padding: 0;
  .pet-info.gallery {
    opacity: 1;
  }
}

.pet-info.gallery {
  opacity: 0;
  background-color: rgba($color: #000000, $alpha: .3);
  width: 100%;
  text-align: center;
  transition: ease-in-out .5s;
}

// owl-reviewstyles
.owl-review .owl-stage-outer {
  margin-bottom: 20px;
}

.owl-review.owl-drag .owl-item {
  touch-action: pan-y; }

.owl-review {
  position: relative;
}

.owl-review .owl-item {
  opacity: .4;
}

.owl-review .owl-item.active {
  opacity: 1;
}

.owl-review .owl-dots {
  text-align: center;
}

.owl-review .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #CCEABB;
  position: relative;
}

.owl-review .owl-dots .owl-dot:after {
  position: absolute;
  top: -2px;
  left: -2px;
  right: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  content: '';
  border: 1px solid #CCEABB;
  border-radius: 50%;
}

.owl-review .owl-dots .owl-dot.active {
  background: #adeb89;
}
