<div class="container">
  <% @pets.each do |pet| %>
    <%= link_to pet_path(pet[:id]) do %>
      <div class="pet-card">
        <h4><%= pet.name %></h4>
        <p><%= pet.species %></p>
      </div>
    <% end %>
  <% end %>
</div>
