<% if policy(Pet).create? %>
  <%= link_to "Add your pet(s)", new_pet_path %>
<% end %>

<div style="width: 100vw;" class="d-none d-lg-block">
  <div class="row mt-5">
    <div class="col-lg-8 offset-lg-2 ">
      <div style="width: 100%; height: 100%; padding-top: 40px;">
        <p>Home ➤ Add your pet</p>
        <p style="font-size: 2em">Add your pet</p>
      </div>
    </div>
  </div>
</div>
<div style="width: 100vw;" class="d-block d-lg-none">
  <div class="row mt-5">
    <div class="col-12">
      <div style="background-color: lightgrey; width: 100%; height: 100%; padding: 5px">
        <p style="padding-left: 8px">⁌Home</p>
        <p style="text-align: center; font-size: 2em">Add your pet</p>
      </div>
    </div>
  </div>
</div>
