<div class="container top-margin">
  <div class="show-card-wrapper">
    <div class="show-card" style="background-position: center;background-size: cover;background-image: url('<%= cl_image_path @pet.pet_pics.first.key%>')">
  </div>
  <div class="carousel" style="border: 1px solid red;height: 360px;"></div>
  <div class="pet-details-wrapper" style="border: 1px solid red;height: 200px;">
    <div class="pet-details-column" style="border: 1px solid red;height: 200px;">
        <h2><span><%= @pet.name %></span></h2>
    </div>
    <div class="calendar" style="border: 1px solid red;height: 200px;"></div>
  </div>
</div>
