<div class="container d-flex justify-content-center align-items-center">
  <div class="confirm-message">
    <h1>Thank you!</h1>
    <p>Your booking is now being <strong>processed</strong>.</p>
    <p>You should hear from the owner very soon!</p>
    <%= link_to 'Go back to Main Page', pets_path, class: 'btn btn-outline-primary my-2 my-sm-0 ml-2'%>
  </div>
</div>
