<div class="container d-flex justify-content-center align-items-center" style="margin-top: 150px;">
  <div class="card" style="width: 18rem;">
  <%= cl_image_tag @booking.pet.pet_pics.first.key %>
  <div class="card-body">
    <h5 class="card-title">Thank you for booking  <strong><%= @booking.pet.name %></strong>!</h5>
    <p>Your booking is now being processed.</p>
    <p class="card-text">You should hear from <strong><%= @booking.pet.user.name %></strong> (the owner) very soon!</p>
    <%= link_to 'Go back to Main Page', pets_path, class: 'btn btn-primary'%>
  </div>
</div>
</div>

