.booking {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  border-bottom: thin solid #FDCB9E;



  .booking-left {
    display: flex;
    align-items: center;
  }

  .booking-actions {
    display: flex;
    align-items: center;
  }
  .booking-tag {
    margin: 15px 18px;
    padding: 2px 5px 0px 5px;
    background-color: #bfbfbf;
    color: white;
    border-radius: 8px;
    font-weight: lighter;
    font-size: 15px;
  }
}

.booking-info {
  display: flex;
  flex-direction: column;
  margin-left: 18px;

  .booking-info-title {
    font-weight: bolder;
    font-size: 1.2em;
    opacity: 0.7;
  }

  .booking-info-details {
    font-weight: lighter;
     opacity: 0.6;
  }
}
