.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.dashboard-btn {
  color: #3F3F44;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: medium;
  background: linear-gradient(#CCEABB, #80c985);
  transition: background 0.3s ease;
  border: 1px solid grey;
}

.dashboard-btn:hover {
  background: linear-gradient(#80c985, #11beae);
  color: white;
}


#sign-btn {
  padding: 8px 10px;
  margin: 0;
  max-width: 200px;
}

#register-btn {
  padding: 8px 10px;
  max-width: 200px;
  margin-left: 0;
}
