.wrapbox {
  height: 450px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.calendarbox {
  height: 430px;
  background-color: #F9F9F9;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 0 0 15px 15px;
  align-content: center;
  justify-content: center;

}

.calendarbox:hover {
  box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

.month-year-box {
  margin: 15px 9px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.month-year-box p {
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-size: 1.2em;
  font-weight: 400;
  color: #3F3F44;
}
.arr {
  width: 18%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  & p {
    color: #80c985;
  }
}

.week-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(50px * 7);
  margin: 10px auto;
}

.cell {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell-active {
  background-color: #CCEABB;
  border-radius: 50%;
  color: #0E0000;
  text-shadow: 1px 1px grey;
  border: 1px solid #8080804a;
}

.cell-unavailable {
  opacity: 0.3;
}

.cell-available {
  opacity: 1;
}

#schedule_button {
  width: 35%;
}