.pet-card {
  display: flex;
  align-items: flex-end;
  width: 320px;
  height: 300px;
  border-radius: 15px;
  color: #fffafa;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-height: 500px;
  padding: 15px 25px;
  margin: 20px;
  & img {
    max-width: 500px;
  }
  & h4 {
    margin-bottom: 0;
    font-weight: bold;
  }
}

.container a {
  text-decoration: none;
}

.pet-info-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  & p {
    font-size: 18px;
    margin-bottom: 0px;
  }
}

.pet-distance {
  display: flex;
  align-items: center;
  & i {
    margin-right: 5px;
    font-size: 18px;
  }
}

.pet-details {
  background-color: #F7EADE;
  border-radius: 45px;
  padding-bottom: 23px;
  margin-top: 18px;

}

.pet-location {


}

.pet-description {


}


.flex {
 display: flex;
 justify-content: space-evenly;
}


.flex-inline {

display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
padding: 44px;
}

