.pet-card {
  display: flex;
  align-items: flex-end;
  width: 320px;
  height: 300px;
  border-radius: 15px;
  color: #fffafa;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-height: 500px;
  padding: 15px 25px;
  margin: 20px;
  & img {
    max-width: 500px;
  }
  & h4 {
    margin-bottom: 0;
    font-weight: bold;
  }
}

.container a {
  text-decoration: none;
}

.pet-info-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  & p {
    font-size: 18px;
    margin-bottom: 0px;
  }
}

.pet-distance {
  display: flex;
  align-items: center;
  & i {
    margin-right: 5px;
    font-size: 18px;
  }
}

.pet-details {
  background-color: #F7EADE;
  border-radius: 45px;
  padding-bottom: 23px;
  margin-top: 18px;

.flex {
 display: flex;
 justify-content: space-evenly;
}


.flex-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 44px;
}

@keyframes layout {

 0% {

   filter: grayscale(20%);
   box-shadow: 0 0 15px rgba(0,0,0,0.2);

 }
 100% {
   filter: grayscale(0%);
   box-shadow: 0 8px 16px rgba(0,0,0,0.3);

 }

}

.filter {

 filter: grayscale(20%);

 & h4 {
  text-shadow: 2px 2px 4px black;

 }

 & p {

  text-shadow: 2px 2px 4px black;

 }

 & i {

  text-shadow: 2px 2px 4px black;

 }

}

.filter:hover {
animation: layout 0.2s linear;
filter: grayscale(0%);
transition: 0.2s ease-out;
transform: translateY(-8px);
box-shadow: 0 8px 16px rgba(0,0,0,0.3);
 & h4 {
  text-shadow: 2px 2px 1px black;

 }

 & p {
  text-shadow: 2px 2px 1px black;

 }

  & i {

  text-shadow: 2px 2px 1px black;

 }
}
=======

@media (min-width: 300px) {
  .petcard-for-schedule {
      overflow: hidden;
      height: 120px;
      background: white;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      display: flex;
      align-items: center;
      margin-bottom: 50px;
    }

  .petcard-for-schedule img {
    height: 100%;
    width: 120px;
    border-radius: 3px;
    object-fit: cover;
  }

  .petcard-for-schedule .petcard-for-schedule-infos {
    padding: 16px;
  }

  .petcard-for-schedule p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .petcard-for-schedule h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .petcard-for-schedule {
      overflow: hidden;
      height: 480px;
      background: white;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      border-radius: 1px;
    }

  .petcard-for-schedule img {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
  }

  .petcard-for-schedule-infos {
    display: none;
  }
}

