@media (min-width: 300px) {
  .top-box {
    height: 350px;
    border-bottom: thin solid lightgrey;
  }

  .dashboard-user {
    display: flex;
    align-items: center;
    color: #3F3F44;
  }

  .dashboard-user h3{
    padding-left: 40px;
  }

  .user-avatar-box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #3F3F44 1px solid;
    box-shadow: 0 0 5px lightgrey;
    overflow: hidden;
  }

  .dashboard-content {
    display: flex;
    height: 92px;
    align-items: flex-end;
  }

  .content-container {
    width: 90%;
    margin: 40px auto;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    min-height: 600px;
  }
}

@media (min-width: 992px) {
  .top-box {
    height: 150px;
    border-bottom: thin solid lightgrey;
  }

  .dashboard-user {
    display: block;
    color: #3F3F44;
  }

  .user-avatar-box {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: #3F3F44 1px solid;
    box-shadow: 0 0 5px lightgrey;
    overflow: hidden;
  }

  .dashboard-user h3{
    line-height: 24px;
  }

  .dashboard-content {
    display: flex;
    height: 92px;
    padding-left: 136px;
    align-items: flex-end;
  }

  .content-container {
    width: 53%;
    max-height: 100vh;
    margin-top: -170px;
    margin-right: 6vw;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    display: flex;
    justify-content: center;
  }
}

.user-avatar {
  width: 100%;
  height: 100%;
}

.content-titles {
  display: flex;
  max-width: 600px;
  justify-content: space-around;
  align-items: flex-end;
  flex-grow: 1;
  margin: 0 auto;
}

