@media (min-width: 300px) {
  .top-box {
    height: 320px;
    border-bottom: thin solid lightgrey;
  }

  .dashboard-user {
    display: flex;
    align-items: center;
    color: #3F3F44;
  }

  .dashboard-user h3{
    padding-left: 40px;
  }

  .user-avatar-box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #3F3F44 1px solid;
    box-shadow: 0 0 5px lightgrey;
    overflow: hidden;
  }

  .content-titles {
    display: flex;
    height: 83px;
    align-items: flex-end;
    justify-content: space-between;
  }

  .my-pets-card {
    width: 75%;
    margin: 50px auto 38px auto;
    border: 1px solid #e1e4e8;
    display: flex;
    justify-content: space-between;
    height: 60px;
    overflow: hidden;
    min-height: 400px;
    background: #F7F7F7;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    align-items: center;
    border-radius: 3px;
  }

  .my-pets-card-title {
    width: 75%;
    margin: 20px auto;
    display: flex;
    overflow: hidden;
  }

  .my-pets-card-add {
    width: 55%;
    margin: 50px auto 38px auto;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .my-pets-card img {
    height: 100%;
    width: 40%;
    position: relative;
    left: 0;
    border-radius: 3px;
    object-fit: cover;
    flex-shrink: 0;
  }

   .my-pets-card-infos {
    overflow: hidden;
    flex-shrink: 1;
    padding: 10px;

    & h4 {
      font-weight: bold;
    }
    & span {
      font-weight: bold;
    }
    &p {
      font-size: 18px;
      line-height: 1.2;
      opacity: 0.6;
      margin-bottom: 0;
      margin-top: 8px;
    }
  }
}

@media (min-width: 992px) {
  .top-box {
    height: 130px;
    border-bottom: thin solid lightgrey;
  }

  .dashboard-user {
    display: block;
    color: #3F3F44;
  }

  .user-avatar-box {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: #3F3F44 1px solid;
    box-shadow: 0 0 5px lightgrey;
    overflow: hidden;
  }

  .dashboard-user h3{
    line-height: 24px;
  }

  .dashboard-content {
    display: flex;
    height: 92px;
    padding-left: 136px;
    align-items: flex-end;
  }

  .content-titles {
    display: flex;
    max-width: 600px;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
    margin: 0 auto;
  }

  .my-pets-card-title {
    max-width: 70%;
    margin-top: -120px;
    margin-bottom: 76px;
    margin-left: 25vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .my-pets-card {
    max-width: 70%;
    max-height: 349px;
    margin-top: -77px;
    margin-bottom: 65px;
    margin-left: 42vw;
    padding-right: 10px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background: #F7F7F7;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .my-pets-card-add {
    margin-top: -140px;
    margin-left: 45vw;
    width: 500px;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

.user-avatar {
  width: 100%;
  height: 100%;
}

.subtitle {
  font-weight: bold;
  color: #F7F7F7;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #3F3F44;
  padding-bottom: 20px;
}

