@media (min-width: 300px) {
  .top-box {
    height: 380px;
    border-bottom: thin solid lightgrey;
  }

  .dashboard-uqer {
    display: flex;
    align-items: center;
    color: #3F3F44;
  }

  .dashboard-user h3{
    padding-left: 40px;
  }

  .user-avatar-box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #3F3F44 1px solid;
    box-shadow: 0 0 5px lightgrey;
    overflow: hidden;
  }

  .content-pets {
    width: 100vw;
    left: 0;
  }

  .content-titles {
    display: flex;
    height: 83px;
    align-items: flex-end;
    justify-content: space-between;
  }

  .my-pets-card {
    width: 80%;
    margin: 40px auto;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100px;
  }
}

@media (min-width: 992px) {
  .top-box {
    height: 150px;
    border-bottom: thin solid lightgrey;
  }

  .dashboard-user {
    display: block;
    color: #3F3F44;
  }

  .user-avatar-box {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: #3F3F44 1px solid;
    box-shadow: 0 0 5px lightgrey;
    overflow: hidden;
  }

  .dashboard-user h3{
    line-height: 24px;
  }

  .dashboard-content {
    display: flex;
    height: 92px;
    padding-left: 136px;
    align-items: flex-end;
  }

  .content-titles {
    display: flex;
    max-width: 600px;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
    margin: 0 auto;
  }

  .content-pets {
    width: 100vw;
    left: 0;
  }

  .my-pets-card {
    max-width: 50vw;
    height: 50px;
    margin-top: -140px;
    margin-bottom: 10px;
    margin-left: 8vw;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    display: flex;
    justify-content: center;
  }
}

.user-avatar {
  width: 100%;
  height: 100%;
}


