.navbar-lewagon {
    justify-content: space-between;
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.rounded {
    border-radius: 33px !important;
    width: 618px;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 2px;
    transform: rotate(
45deg
);
}

.top-margin {
margin-top: 80px;
}
