.simple_form div.input {
  width: 100vw;
  margin-bottom: 30px;
}

.simple_form label {
  float: left;
  width: 300px;
  text-align: left;
  margin: 5px 5px;
  font-weight: 400;
  font-size: 1.2em;
}

.simple_form input {
  background-color: #FCFCFD;
  border-radius: 6px;
  height: 45px;
}

.simple_form input[type='submit'] {
  margin: 25px 7% 15px 7%;
  width: 86%;
  background-color: #11beae;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: .15s linear;
}


.upload-box {
  border: 1px dashed #c2c8d2;
  box-sizing: border-box;
  height: 180px;
  text-align: center;
  position: relative;
  text-align: center;
  cursor: pointer;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

#pet_pet_pics {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.file .required {
  opacity: 0;
}

.upload-box p {
  color: #a0a7b4;
  font-size: 1.1em;
}

.upload-box i {
  color: #a0a7b4;
  font-size: 2em;
}
