// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/button";
@import "pets/index";

@import "components/subcards";
@import "components/mapbox";
@import "bookings/index";

body {
  font-family: "Nunito", "Helvetica", "sans-serif";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(https://i.ibb.co/jW4wVLX/background7.png);
  background-size: 100%;
}


main {
  flex: 1;
}
