.pets-nearby-list {
  margin-bottom: 50px;
}

.nearby-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  & h3,p {
    font-weight: bold;
  }
}

.nearby-bottom {
  display: flex;
  flex-wrap: wrap;
}

.pets-filters {
  display: flex;
  padding: 50px 0;
}

.pet-filter {
  cursor: pointer;
  border-radius: 50%;
  background: #CCEABB;
  box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
  margin-right: 15px;
  border: 1px solid #8080804a;
  width: 80px;
  height: 80px;
}

.pet-filter:hover {
  background-color: #adeb89;
}

.pet-filter-content {
  text-align: center;
  padding: 15px 20px 10px 20px;
  & p {
    margin-bottom: 0px;
    font-size: 14px;
    text-align: center;
  }
  & i {
    font-size: 32px;
  }
  & img {
    height: 35px;
  }
}

.pets-all {
  margin-bottom: 20px;
  & h3 {
    font-weight: bold;
  }
}

.pets-all-list {
  display: flex;
  flex-wrap: wrap;
}

