// .pet-details {
//   & h1 {
//     font-size: 5rem;
//     font-family: Montserrat;
//   }
//   & span {
//     font-weight: bold;
//   }
// }

// .pet-image {
//     padding: 0px;
//     border-radius: 45px;
//     width: 100%;
//     margin: 0px;
// }

// .pet-species-breed {
//   display: flex;
//   & p {
//     margin-right: 15px;
//   }
// }


.show-card {
    height: 520px;
    border-radius: 16px;
    width: 100%;
}

.pet-details-wrapper {
  display: flex;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.pet-details-column {
  flex: 65%;
  padding: 30px;
  & p {
    margin-bottom: 0px;
    color: #333;
  }
  & span {
    font-weight: bold;
  }
}

.calendar {
  flex: 35%;
}

.line {
  width: 100%;
  height: 2px;
  background-color: rgb(215, 215, 215);
  margin: 15px 0;
}

.flex-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  & h3 {
    margin-bottom: 20px;
  }
}

.details-name-breed h2 {
  font-size: 40px;
}