// .pet-details {
//   & h1 {
//     font-size: 5rem;
//     font-family: Montserrat;
//   }
//   & span {
//     font-weight: bold;
//   }
// }

// .pet-image {
//     padding: 0px;
//     border-radius: 45px;
//     width: 100%;
//     margin: 0px;
// }

// .pet-species-breed {
//   display: flex;
//   & p {
//     margin-right: 15px;
//   }
// }


.show-card {
    height: 520px;
    border-radius: 16px;
    width: 100%;
}

.pet-details-wrapper {
  display: flex;
}

.pet-details-column {
  flex: 65%;
}

.calendar {
  flex: 35%;
}
