.show-card {
    height: 520px;
    border-radius: 15px;
    width: 100%;
}

.pet-details-wrapper {
  display: flex;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.pet-details-column {
  flex: 65%;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  & p {
    margin-bottom: 0px;
    color: #333;
  }
  & span {
    font-weight: bold;
  }
}

.calendar {
  flex: 35%;
}

.calendar .calendar-box {
  border-radius: 0 0 15px 15px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: rgb(215, 215, 215);
  margin: 15px 0;
}

.flex-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  & h3 {
    background-color: #CCEABB;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    border-bottom: 3px solid rgb(215, 215, 215);
    margin-bottom: 0;
  }
}

.details-name-breed h2 {
  font-size: 40px;
}

